// Colors
$overlay-bg-1: rgba(0, 0, 0, 0.70);
$overlay-bg-2: rgba(0, 0, 0, 0.5);
$text-secondary-color-1: #993939;
$text-secondary-color-2: #6F6E6E;
$search-button-color: #FFB300;
$button-secondary-color: #BDA29A;

// Font size
$text-title-size: 50px;
$text-card-title-size: 15px;

// profile card
// $profile-card-height: 580px;
// $profile-card-width: 300px;
$profile-card-height: 500px;
$profile-card-width: 300px;
$profile-card-radius: 20px;

//search button
$search-btn-radius: 50px;
